.project-main__container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.project-title__container {
  position: fixed;
  top: 70%;
  left: 5%;
  width: 25%;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 1rem;
  overflow-y: auto;
  transform: translateY(-50%);
  z-index: 10;
}

.project-title__container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
  margin: 0.5rem 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.project-title__container h1.active-title {
  opacity: 1;
  color: #000;
}

.project-sections__container {
  position: fixed;
  top: 0;
  left: 35%;
  width: calc(100% - 35%);
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.project-section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.project-details {
  padding: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}

.slider-wrapper img {
  height: 100%;
  object-fit: contain;
}
