.cli-container {
  background-color: black;
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-height: 196px;
  padding: 10px;
  overflow-y: auto;
  font-size: 0.8rem;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
}

.cli-container::-webkit-scrollbar {
  width: 8px;
}

.cli-container::-webkit-scrollbar-track {
  background: #380a3a;
  border-radius: 10px;
}

.cli-container::-webkit-scrollbar-thumb {
  background: #a6ff18;
  border-radius: 10px;
}

.cli-container label {
  color: rgb(41, 194, 21);
  font-size: 0.8rem;
}

.cli-container p {
  color: rgb(41, 194, 21);
  font-size: 0.8rem;
}

.cli-container input {
  background-color: black;
  color: rgb(41, 194, 21);
  border: none;
  outline: none;
  caret-color: rgb(41, 194, 21);
  font-family: monospace;
  font-size: 1rem;
}

.cli-container textarea {
  color: rgb(194, 21, 58);
}

.carret {
  background-color: hsla(1, 1%, 100%, 1);
  color: #000;
}

.cli-container input:focus {
  background-color: black;
  border: none;
  outline: none;
}
