.modal-container {
  max-width: 1200px;
  height: 700px;
  display: flex;
}

.img-container {
  width: 100%;
  position: relative;
}

.modal-description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.tech-stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.badges {
  display: flex;
  gap: 10px;
  font-weight: 500;
  margin-top: 5px;
}
.badges .badges-frontend {
  background-color: rgb(64, 64, 187);
  color: white;
  padding: 4px 8px;
  border-radius: 15px;
}

.badges .badges-backend {
  background-color: rgb(29, 190, 102);
  color: white;
  padding: 4px 8px;
  border-radius: 15px;
}
.tech-stack {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.modal-links {
  display: flex;
  gap: 15px;
}

.modal-links a {
  display: block;
  margin: 5px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.modal-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(255, 3, 242);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.modal-links a:hover::after,
.modal-links a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

li {
  list-style-type: none;
}

li:nth-child(3) a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

li:nth-child(3) a:hover::after,
li:nth-child(3) a:focus::after {
  transform: scale(1);
}

.close-button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  display: inline;
}

.close-button:hover {
  background: #e60000;
}

@media (max-width: 768px) {
  .modal-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .modal-description {
    width: 100%;
    border: 1px solid rgba(116, 121, 21, 0.6);
    margin-bottom: 10px;
  }
}
